# Python
__pycache__/
*.py[cod]
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Model files (too large)
*.h5
*.keras
*.pb

# Dataset
data/
dataset/
*.csv

# Large files
*.zip
*.tar.gz

# Environment
venv/
.env

# OS
.DS_Store
Thumbs.db
